@charset "UTF-8";
body {
	width: 100%;
	height: 100%;
	background: url('../css/image/18.gif');
	overflow: hidden;
}

 #box {
	height:550px;
	display:flex;
	align-items:center;
	justify-content:center;
	align-content:center;  
	
}